body {
    font-family: Arial, sans-serif;
    background-color: #519c6e;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

.sales-goal input,
.expense-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sales-goal input[type="number"],
.sales-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.chart {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#salesChart,
#salesGoalChart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#expenseDetails,
#salesDetails {
    list-style: none;
    padding: 0;
}

#expenseDetails li,
#salesDetails li {
    margin-bottom: 5px;
}
